<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LeadTeacherMapper">

	<resultMap id="resultLeadTeacher" type="LeadTeacher">
		<result property="leadTeacherId" column="lead_teacher_id" />
		<result property="lead_name" column="name" />
		<result property="lead_phone" column="phone_number" />
		<result property="lead_addr" column="address" />
	</resultMap>

</mapper>