<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Student" type="com.example.demo.modal.Student" />
		<typeAlias alias="LeadTeacher" type="com.example.demo.modal.LeadTeacher" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/student_mapper.xml" />
		<mapper resource="mybatis/mapper/lead_teacher_mapper.xml" />
	</mappers>
</configuration>